nav.navbar {
  justify-content: flex-end;
}

nav.navbar li {
  margin: 0;
  list-style: none;
}

div.image-card {
  width: 25vw;
}

div.sign-up {
  max-width: 35%;
}

div.sign-up-inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200px;
}

input[type="checkbox"].form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

button#active {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

button.del-button {
  position: absolute;
  right: 80px;
  color: rgb(32, 155, 222);
  border-color: rgb(32, 155, 222);
}

button.del-button:hover {
  color: #fff;
  background-color: rgb(32, 155, 222);
  border-color: rgb(32, 155, 222);
}

.container {
  max-width: unset;
  margin-right: 10vw;
  margin-left: 10vw;
  width: unset;
}

img.card-img {
  height: 35vh;
}
